@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* ---navigation --- */
.navigation{
    background-color:rgb(0,0,0);
    padding:10px;
    border-bottom-left-radius: 15px;
    letter-spacing: 0.5px;
}
.nav-brand{
    font-size: large;
}
.navigation .nav-list{
    text-align: right;
}
.list-item{
    display: inline-flex;
    padding:0px 10px;
}
.list-item .active{
    color: rgb(223, 66, 177);
    font-weight: bold;
}
.link-item{
    text-decoration: none;
    color: rgba(255,255,255,.5);
}
.link-item:hover{
    color: rgb(255,255,255);
}
/* ---header--- */
.hero{
    text-align: center;
    margin:20px 0px;
}
.hero-img{
    height: 50%;
    width: 40%;
}
.hero-heading .heading-inverted{
    color: rgb(223,66,177);
}
/* --sections--- */
.container-center{
    text-align: center;
}
.section{
    margin-top:20px 0px;
    padding: 20px 0px;
}
.section h1{
    font-weight: 600;
}
.section p{
    margin-bottom: 20px;
}
.ow {
    background-color: #eee7eb;
  }
.btn-custom{
    color: #ffffff;
    background: #df42b1;
    background-image: -webkit-linear-gradient(120deg, #505add 0%, #df42b1 100%);
    border-radius: 23px;
    transition-duration: 500ms;
    text-decoration: none;
    padding: 10px;
}
.btn-custom:hover{
    color: black;
}
.about-text{
    text-align: center;
    padding: 1%;
    
}
.about-text h1{
    color:#df42b1;
    margin-top: 10px;
}
.date{
    color:#df42b1;
}

.timeline-item{
    margin-top: 1%;
    padding: 10px;
}
@media screen and (max-width: 600px) {
    .nav-list {
      display: none;
    }
}