@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* --Variables--- */
:root{
    --main-color:#df42b1;
    --blue: #505add;
    --blue-dark: #18293c;
    --white:#ffffff;
    --white-alpha-40:rgb(255,255,255,0.4);
    --white-alpha-50:rgba(255,255,255,0.5);
    --white-alpha-25:rgb(255,255,255,0.25);
    --black:#000000;
}
/* ---navigation --- */
.navigation{
    background-color:var(--black);
    padding:10px;
    border-bottom-left-radius: 15px;
    letter-spacing: 0.5px;
}
.nav-brand{
    font-size: large;
}
.navigation .nav-list{
    text-align: right;
}
.list-item{
    display: inline-flex;
    padding:0px 10px;
}
.list-item .active{
    color: var(--main-color);
    font-weight: bold;
}
.link-item{
    text-decoration: none;
    color:var(--white-alpha-50);
}
.link-item:hover{
    color: var(--white);
}
/* ---header--- */
.hero{
    text-align: center;
    margin:20px 0px;
}
.hero-img{
    height: 50%;
    width: 40%;
}
.hero-heading .heading-inverted{
    color: var(--main-color);
}
/* --sections--- */
.container-center{
    text-align: center;
}
.section{
    margin-top:20px 0px;
    padding: 20px 0px;
}
.section h1{
    font-weight: 600;
}
.section p{
    margin-bottom: 20px;
}
.ow {
    background-color: #eee7eb;
  }
.btn-custom{
    color: var(--white);
    background: var(--main-color);
    background-image: -webkit-linear-gradient(120deg, var(--blue) 0%, var(--main-color) 100%);
    border-radius: 23px;
    transition-duration: 500ms;
    text-decoration: none;
    padding: 10px;
    border: none;
}
.btn-custom:hover{
    color: var(--black);
}
.about-text{
    text-align: center;
    padding: 1%;
    
}
.about-text h1{
    color:var(--main-color);
    margin-top: 10px;
}
.date{
    color:var(--main-color);
}

.timeline-item{
    margin-top: 1%;
    padding: 10px;
}
/* ---Projects--- */
.container{
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row h1{
    margin: 10px 0;
}
.section-title{
    font-size: 30px;
    font-weight: bold;
}

.project-item{
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
}
.project-item-thumbnail{
    /* border: 2px solid rgb(182, 175, 175); */
    border-radius: 5px;
}
.project-item-thumbnail img{
    width: 100%;

}
.project-item-title{
    margin: 10px 0;
    display: block;
}
.project-item-detail{
    margin-top: 14px;
}
@media screen and (max-width: 600px) {
    .nav-list {
      display: none;
    }
}